* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    min-width: 250px;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    
    
}

span {
    color:#41515a ;
    font-weight: bold;
    font-size: 1.5em;
}
h1 {
    color: #91a2d0;
    font-size: 50px;
    padding: 50px;
}
h2{
    font-size: 30px;
    padding: 45px;
    color: #588288;
    border-bottom: 2px solid #a7e2ee;
}

strong {
    font-size: 2.5rem;
    color: #607c82;
}