* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    min-width: 250px;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    
    
}

span {
    color:#41515a ;
    font-weight: bold;
    font-size: 1.5em;
}
h1 {
    color: #91a2d0;
    font-size: 50px;
    padding: 50px;
}
h2{
    font-size: 30px;
    padding: 45px;
    color: #588288;
    border-bottom: 2px solid #a7e2ee;
}

strong {
    font-size: 2.5rem;
    color: #607c82;
}

.box {
    
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(22, 22, 22);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}

.button {
    background-color: #91c5d0;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.5s;
    color: #1f2118;
    width: 30%;
    

}