* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}