* {
    margin: 0;
    padding: 0;
    
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5) ), url('/assets/img/home-wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10%
}

h1 {
    font-size: 100px;
    color: #c2d091;
}

.button {
    background-color: #c2d091;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 16px;
    text-decoration: none;
    transition: 0.5s;
    color: #1f2118;
    

}

.button:hover {
background-color: #545a41;
color: #bcca8b;
}